{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}
<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/About.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Who We Are</h2>
            <p class="animate__animated animate__fadeInUp">RSI helps research and develop Rural Surgical Equipment</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
              <h2>Rural Surgery Innovations Private Limited</h2>
              <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Rural Surgery Innovations Private Limited (RSI) is a company formed in association with the International 
                Federation of Rural Surgeons (IFRS) and the Association of Rural Surgeons of India (ARSI) to assist in carrying 
                out rural surgery specific research and development of the products of such research.
              </p>
              <!-- <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul> -->
              <p>
                We also conduct medical camps in underserved rural areas of India and organise training in the usage of the instruments 
                that are being sold, in association with local hospitals and medical training institutions.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

    <!-- ======= mission Section ======= -->
    <section id="missions" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-xl-6 d-flex">
            <div class="content">
              <h3>Our Mission</h3>
            </div>
          </div>
          <div class="col-xl-6 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <p>Our mission is to make suregry accessible to areas that are normally deprived of the resources to carry out surgery, so that life-saving diagnostics treatment can be carried out where it was not possible to do so previously.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  
    <!-- ======= Our Story Section ======= -->
    <section id="story" class="story">
      <div class="container" data-aos="fade-up">
        
        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(static/img/about.jpg);"></div>

          <div class="col-lg-7">
          <h2>Rural Surgery Innovations Private Limited</h2>
            <div class="our-story">
              <h4>Est 2021</h4>
              <h3>Our Story</h3>
              <p>
                The RSI Base Hospital is in the “Chellappa Nursing Home” in Tiruchirappalli, Tamil Nadu in India. 
                It is a 15 – bed surgical facility with capabilities for open, laparoscopic, and endoscopic surgeries. 
                It was started by Dr. JDJ Chellappa one of the senior surgeons in Tiruchirappalli three decades ago. 
                Dr. Gnanaraj Jesudian is the surgeon at the base hospital and Dr. JDJ Chellappa takes 
                care of the outpatients.
              </p>
              <p>
                The main office of RSI is in Nagaland, in Northeast India where the majority of demand and services for training
                and equipment currently happens. This is where Mr. Kesochie works from and organises the services of RSI. Dr. Gnanaraj
                has spent a significant portion of his professional career working in this part of India and is familiar with the needs
                of the patients here.</p>
              <!-- <ul>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
              </ul> -->
              <!-- <p>Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in quo eveniet. Molestias in maxime doloremque.</p> -->

              <!-- <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Our Story Section -->

  
</main><!-- End #main -->
  
{% endblock %}