{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}
<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/about-us.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Who We Are</h2>
            <p class="animate__animated animate__fadeInUp">RSI is a company helps to build rural surgical equipments.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->


<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
              <h2>Rural Surgery Innovations Private Limited</h2>
              <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Rural Surgery Innovations Private Limited (RSI) is a company formed in association with the International 
                Federation of Rural Surgeons (IFRS) and the Association of Rural Surgeons of India (ARSI) to assist in carrying 
                out rural surgery specific research and development of the products of such research.
              </p>
              <!-- <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
              </ul> -->
              <p>
                We also conduct medical camps in underserved rural areas of India and organise training in the usage of the instruments 
                that are being sold, in association with local hospitals and medical training institutions.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

    <!-- ======= mission Section ======= -->
    <section id="missions" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>Our Mission</h3>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <p>xxxxxxx</p>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  
    <!-- ======= Our Story Section ======= -->
    <section id="story" class="story">
      <div class="container" data-aos="fade-up">
        
        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(static/img/about-us.jpg);"></div>

          <div class="col-lg-7">
          <h2>Rural Surgery Innovations Private Limited</h2>
            <div class="our-story">
              <h4>Est 1990</h4>
              <h3>Our Story</h3>
              <p>The RSI Base Hospital is in “Chellappa Nursing Home” 16 EVR Road, Puthur, Tiruchirappalli Tamil Nadu 620017. 
                It is a 15 – bed surgical facility with capabilities for open, laparoscopic, and endoscopic surgeries. 
                It was started by Dr. JDJ Chellappa one of the senior surgeons in Tiruchirappalli three decades ago. 
                Dr. Gnanaraj Jesudian one of the founders of RSI is the surgeon at the Base Hospital and Dr. JDJ Chellappa takes 
                care of the outpatients. </p>
              <!-- <ul>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
              </ul> -->
              <!-- <p>Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in quo eveniet. Molestias in maxime doloremque.</p> -->

              <!-- <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Our Story Section -->

  
</main><!-- End #main -->
  
{% endblock %}