{% extends "layout.html" %}

{% block title %}
    Affiliates
{% endblock %}


{% block main %}
<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(static/img/leadership.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Affiliations</h2>
              <p class="animate__animated animate__fadeInUp">Partnerships with other organisations</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->
  
      
  <!-- ======= Affiliations Section ======= -->
  <main id="main">
    
    <section id="affiliates" class="affiliates">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
              <div class="content">
                <img src="static/img/arsi_logo2.gif" alt="" class="img-fluid">
              </div>
              <div class="content">
                <h3>Association of Rural Surgeons of India (ARSI)</h3>
                <!-- <p>
                  Learn more on their website.
                </p> -->
              </div>
            </div>
            
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100"> -->
                  <div>
                    <!-- <h4>Corporis voluptates sit</h4> -->
                    <p>ARSI is a group of rural surgeons in India that come together to learn about developments in surgery across India. 
                        They hold yearly conferences across India in association with hospitals and medical training institutes.</p>
                    <p>ARSI pioneered the use of mosquito net instead of the expensive Proline mesh for hernia repair. 
                        This was included as one of the six famous, effective, low-cost innovations by the World Health Organization (WHO).</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section>
  
      <section id="about" class="affiliates">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
              <div class="content">
                <img src="static/img/header-logo.png" alt="" class="img-fluid">
              </div>
              <div class="content">
                <h3>International Federation of Rural Surgeons (IFRS)</h3>
                <!-- <p>
                  Learn more on their website.
                </p> -->
              </div>
            </div>
            
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100"> -->
                  <div>
                    <!-- <h4>Corporis voluptates sit</h4> -->
                    <p>International Federation of Rural Surgeons (IFRS) – the IFRS is a body of surgeons, health-allied professionals and researchers across the 
                      world that come together to share findings in practices and promote collaboration to make surgery more accessible in rural settings through 
                      focused research and development in association with educational institutions and engineering firms.</p>
                    <p>The IFRS was involved in promoting a gasless laparoscopic lift device by working with the University of Leeds team for Surgical Technology, 
                      PGSSC of Harvard University, Maulana Azad Medical College and others in conducting randomized control trials and developing second generation equipment.</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section>


  </main><!-- End Affiliations -->
{% endblock %}