{% extends "layout.html" %}

{% block title %}
    GILLS
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(../static/img/Services/Gasless_laparoscopy.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">GILLS</h2>
              <p class="animate__animated animate__fadeInUp">Making laparoscopic surgery more accessible</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->


  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container fade-up">

      <div class="section-title">
        <h2>Gas Insufflation-Less Laparoscopic Surgery (GILLS)</h2>
        <p>Gasless Laparoscopy allows carrying out laparoscopic surgeries without the need for the associated infrastructure for insufflation and allows the use of spinal anaesthesia instead of general anaesthesia</p>
      </div>

      <div class="row gy-4">

        <!-- <div class="col-lg-11"> -->
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <!-- <div class="col-lg-8 details order-2 order-lg-1"> -->
                <div class="details order-2 order-lg-1 align-items-stretch">
                  <h3>Laparoscopy</h3>
                  <p class="fst-italic">The gasless laparoscope is a lift device that that creates an abdominal cavity to carry out laparoscopic procedures without the use of gas insufflation and general anaesthesia.</p>
                </div>
              </div>
            </div>

            <div class="section-title">
                <p>The gasless laparoscopic lift device enables the use of laparoscopic surgeries in environments where it would not be possible otherwise. It reduces infrastructure needs, and the need for general anaesthia, allowing for faster patient recovery.</p>
                <p>The device uses a a spiral lift device to lift the abdominal wall and create a cavity to operate within.</p>
                <p>The GILLS device has been developed further in association with the ARSI at the <a href="https://www.leeds.ac.uk/main-index/news/article/5103/low-tech-just-what-the-doctor-ordered">University of Leeds</a>, where an improved version has been prototyped, with the new version known as RAIS (Retractor for Abdominal insufflation-Less Surgery).</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

{% endblock %}