{% extends "layout.html" %}

{% block title %}
    GILLS
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(../static/img/products/products.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Our Products</h2>
              <p class="animate__animated animate__fadeInUp">These are our products.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->


  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container fade-up">

      <div class="section-title">
        <h2>Departments</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row gy-4">

        <!-- <div class="col-lg-11"> -->
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <!-- <div class="col-lg-8 details order-2 order-lg-1"> -->
                <div class="col-lg-9 details order-2 order-lg-1 align-items-stretch">
                  <h3>Cardiology</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                  <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                </div>
                <div class="col-lg-3 text-center d-flex order-1 order-lg-2 align-items-stretch">
                  <img src="../static/img/slide/departments-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="section-title">
                <p>The laptop cystoscope is a simplified cystoscope that is self-contained, and only requires the use of a laptop 
                    with a USB port to operate, compared to more advanced versions that require additional specialised equipment that 
                    may be difficult to transport and provide power for in rural settings.</p>
                <p>RSI won the BIRAC-BIG award from the Indian Government for working on the Laptop Cystoscope with SINE-IIT Bombay. Surveys show that even in remote areas, about 5% of outpatients have Urology problems. More than half of them could be managed with just a Cystoscope that is used for diagnosis and for minor first stage procedures. However, at present, less than 2% of the Urology patients can get the necessary treatment in rural areas because non – Urologists are unable to afford the conventional Cystoscope and the accessory equipment like the camera, light source and others that are necessary for Cystoscopy.</p>
                <p>The Laptop Cystoscope costs about one twentieth of the conventional Cystoscopy setup as it can be connected to the Laptop to perform diagnostic and other procedures. Controlled trials are going on at Medical Colleges and rural hospitals for validation.</p> -->Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

{% endblock %}