{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/cover.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <br/>Rural surgery Innovations Private Limited</h2>
            <p class="animate__animated animate__fadeInUp">We work to promote rural surgery research and innovation</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->

<main id="main">
  <!-- ======= Events Section ======= -->
  <section class="events">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>What We Offer</h3>
        <p>We assist in research and development of innovations for surgery in rural contexts around the world, through partnerships with universities and training workshops. Collaboration with medical equipment manufacturers allows up to create a distribution network to get the devices where they are needed.</p>
      </header>

      <!-- <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="static/img/products.jpg" alt="" class="img-fluid">
            </div>
            <div class="text">
              <h2 class="title"><a href="/products">Our Products</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. 
              </p>
              <div class="read-more"><a href="/products"> Learn More</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="static/img/services.jpg" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a href="/services">Our Services</a></h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.
            </p>
            <div class="read-more"><a href="/services"> Learn More</a></div>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="static/img/research.jpg" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a href="/research">Our Research</a></h2>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est.
            </p>
            <div class="read-more"><a href="/research"> Learn More</a></div>
          </div>
        </div>

      </div>

    </div>
  </section> -->
      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="static/img/products.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <a href="/products" class="stretched-link">
                <h3>Our Products</h3>
              </a>
              <p>We offer a variety of products aimed at making surgery more accessible in rural areas of the world</p>
              <div class="read-more"><a href="/products">Learn More</a></div>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="static/img/services.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <a href="/services" class="stretched-link">
                <h3>Our Services</h3>
              </a>
              <p>Training people to use innovative products is just as important as the products themselves. We offer training workshops and camps, where they are needed.</p>
              <div class="read-more"><a href="/services">Learn More</a></div>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="static/img/research.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <a href="/research" class="stretched-link">
                <h3>Our Research</h3>
              </a>
              <p>Partnerships with universities and medical associations allow us to help direct research and assist with field testing and production of ideas and equipment developed in laboratories.</p>
              <div class="read-more"><a href="/research"> Learn More</a></div>
            </div>
          </div>
        </div><!-- End Service Item -->


      </div>
    </div>
  </section>


  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="static/img/who-we-are.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <h4 class="title"><a href="/about">Who we are</a></h4>
            <p class="description">We are a company formed to help develop and distribute medical equipment for rural surgery with the goal of making surgery accessible and affordable through innovation. We work with equipment maunfacturers, medical associates and universities to develop and train medical professionals on new equipment and techniques.</p>
            <a href="/about" class="btn-get-started scrollto">Learn More</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="static/img/surgery.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <h4 class="title"><a href="/contact_us">Get Connected</a></h4>
            <p class="description">To learn more about how we can help you improve surgical accessibility, please contact us!</p>
            <a href="/contact_us" class="btn-get-started scrollto">Learn More</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


</main>



{% endblock %}