{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/cover.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <br/>Rural Medical Innovations Private Limited</h2>
            <p class="animate__animated animate__fadeInUp">We are a startup company formed to promote rural surgery research and innovations.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->

<main id="main">
  <!-- ======= Events Section ======= -->
  <section class="section-bg" id="events">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>What We Offer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="static/img/products.jpg" alt="" class="img-fluid">
            </div>
            <div class="text">
              <h2 class="title"><a href="/products">Our Products</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. 
              </p>
              <div class="read-more"><a href="/products"> Learn More</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="static/img/services.jpg" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a href="/services">Our Services</a></h2>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam.
            </p>
            <div class="read-more"><a href="/services"> Learn More</a></div>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="static/img/research.jpg" alt="" class="img-fluid">
            </div>
            <h2 class="title"><a href="/research">Our Research</a></h2>
            <p>
              Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est.
            </p>
            <div class="read-more"><a href="/research"> Learn More</a></div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Events Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="static/img/who-we-are.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <h4 class="title"><a href="/about">Who we are</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            <a href="/about" class="btn-get-started scrollto">Learn More</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 video-box">
          <img src="static/img/surgery.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

          <div class="icon-box">
            <h4 class="title"><a href="/contact_us">Get Connected</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            <a href="/contact_us" class="btn-get-started scrollto">Learn More</a>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

</main>



{% endblock %}