{% extends "layout.html" %}

{% block title %}
    Laptop Cystoscope
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(../static/img/Services/Laptop_cystoscope.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Laptop Cystoscope</h2>
              <p class="animate__animated animate__fadeInUp">An afforadble alternative for rual areas</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->


  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container fade-up">

      <div class="section-title">
        <h2>Laptop Cystoscope</h2>
        <p>Cystoscopy typically needs a lot of equipment to carry out the procedure and diagnose or treat the patient. Our research has helped simplify the procedure and allowed it to be used with just a laptop and scope.</p>
      </div>

      <div class="row gy-4">

        <!-- <div class="col-lg-11"> -->
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <!-- <div class="col-lg-8 details order-2 order-lg-1"> -->
                <div class="details order-2 order-lg-1 align-items-stretch">
                  <h3>Cystoscopy</h3>
                  <p class="fst-italic">The laptop cystoscope is a simplified cystoscope that is self-contained, and only requires the use of a laptop 
                    with a USB port to operate, compared to more advanced versions that require additional specialised equipment that 
                    may be difficult to transport and provide power for in rural settings.</p>
                    <p></p>
                </div>
              </div>
            </div>

            <div class="section-title">
                <p>RSI won the BIRAC-BIG award from the Indian Government for working on the Laptop Cystoscope with SINE-IIT Bombay. Surveys show that even in remote areas, about 5% of outpatients have Urology problems. More than half of them could be managed with just a Cystoscope that is used for diagnosis and for minor first stage procedures. However, at present, less than 2% of the Urology patients can get the necessary treatment in rural areas because non – Urologists are unable to afford the conventional Cystoscope and the accessory equipment like the camera, light source and others that are necessary for Cystoscopy.</p>
                <p>The Laptop Cystoscope costs about one twentieth of the conventional Cystoscopy setup as it can be connected to the Laptop to perform diagnostic and other procedures. Controlled trials are going on at Medical Colleges and rural hospitals for validation.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->


{% endblock %}