{% extends "layout.html" %}

{% block title %}
    Leadership
{% endblock %}


{% block main %}
<main id="main">
  <!-- ======= Big Picture Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(static/img/Who_we_are.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Leadership</h2>
              <p class="animate__animated animate__fadeInUp">Professionals with experience in rural healthcare</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->

  <section id="team" data-aos="fade-up">
  <!-- <section id="team"  class="swiper"> -->
    <!-- <div class="swiper-wrapper">
      <div class="swiper-slide">   -->
      <div class="container">
            
        <header class="section-header">
          <h3 class="people">Dr. Gnanaraj Jesudian</h3>
          <p>Founder of RSI</p>
        </header>


        <div class="row position-relative">
          <div class="col-lg-6 about-img">
            <img src="static/img/gnanaraj.jpg" style="width:110%"/>
          </div>
      
          <div class="col-lg-9">
            <div class="our-story">
              <h3>Biography</h3>
              <p>
                Dr. Gnanaraj is a Urologist educated at Christian Medical College, Vellore. 
                He has worked in multiple rural hospitals with organisations such as the Friends Missionary Prayer Band and Emmanuel Hospitals Associations, 
                where he saw the need for innovation in rural surgery to make it more accessible. Based on his experiences, 
                he has collaborated with universities internationally and local Indian medical equipment manufacturers to 
                develop low-cost solutions for surgery in rural areas.
              </p>
                He travels regularly to lead workshops in promoting and teaching surgery using the instruments he has 
                helped develop, as well as to attend conferences where he can meet other professionals that can help 
                develop more tools to make surgery accessible.
              </p>
              <div class="read-more"><a href="https://www.linkedin.com/in/gnanarajj/">Learn more on his profile.</a></div>
            </div>
          </div>

        </div>
        <!-- </div> -->
      </div>
    </section>

      <section id="team"  data-aos="fade-up">
      <!-- <section id="team"  class="swiper"> -->
      <!-- <div class="swiper-slide"> -->
      <div class="container">

        <header class="section-header">
          <h3 class="people">Mr. Kesochie Chakhesang</h3>
          <p>Founder of RSI</p>
        </header>

          <div class="row position-relative">

            <div class="col-lg-6 about-img">
              <img src="static/img/kesochie.jpg" style="width:100%"/>
            </div>
        
            <div class="col-lg-9">
              <div class="our-story">
                <h3>Biography</h3>
                <p>
                  Mr. Kesochie Chakhesang is well-rounded manager with experience in qualifications in media, communications 
                  and economics from Nagaland, India. He has worked as a journalist where he developed his skills in media creation 
                  and editing. He has also worked as a press secretary, which has given him experience in public relations and liaising with the media.
                </p>
                  His business qualifications come from multiple businesses that he has been involved in at multiple levels, 
                  from being an administrator to being a manager of a hospital and a business owner for a company he started. 
                  His experience with business management is closely intertwined with work in healthcare organisations, 
                  and he consistently expands his skills and knowledge as he takes on more roles.
                </p>
                <div class="read-more"><a href="https://www.linkedin.com/in/kesochie-chakhesang-5124371b8/">Learn more on his profile.</a></div>
              </div>
            </div>

          </div>
        <!-- </div> -->

      </div>
    </section>

      <!-- <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-scrollbar"></div>
    </div>
  </section> -->
  <!-- End Leadership Section -->


</main>
<!-- End Main Section -->
{% endblock %}