{% extends "layout.html" %}

{% block title %}
    Leadership
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(static/img/about-us.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Who We Are</h2>
              <p class="animate__animated animate__fadeInUp">RSI is a company helps to build rural surgical equipments.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->
  
  
<main id="main">
    
  <!-- ======= Leadership Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">
            
      <header class="section-header">
        <h3>Dr. Gnanaraj Jesudian</h3>
        <p>Founder of RSI</p>
      </header>
        
      <!-- <h2>Consequatur eius et magnam</h2> -->


      <!-- <div class="row position-relative swiper"> -->
      <div class="swiper">
        <div class="swipper-wrapper">

            <div class="col-lg-7 about-img" style="background-image: url(static/img/about-us.jpg);"></div>
        
              <div class="col-lg-7">
                <!-- <h2>Rural Surgery Innovations Private Limited</h2> -->
                <div class="swiper-slide">
                  <div class="our-story">
                    <h3>Biography</h3>
                    <p>
                      Dr. Gnanaraj is a Urologist educated at Christian Medical College, Vellore. 
                      He has worked in multiple rural hospitals with organisations such as the Friends Missionary Prayer Band and Emmanuel Hospitals Associations, 
                      where he saw the need for innovation in rural surgery to make it more accessible. Based on his experiences, 
                      he has collaborated with universities internationally and local Indian medical equipment manufacturers to 
                      develop low-cost solutions for surgery in rural areas.
                    </p>
                    <!-- <ul>
                        <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
                    </ul> -->
                    <p>
                      He travels regularly to lead workshops in promoting and teaching surgery using the instruments he has 
                      helped develop, as well as to attend conferences where he can meet other professionals that can help 
                      develop more tools to make surgery accessible.
                    </p>
                    <div class="read-more"><a href="https://ifrs.site/members/dr-gnanaraj-jesudian/">Learn more about his profile on his webpage.</a></div>
                  <!--<div class="watch-video d-flex align-items-center position-relative">
                      <i class="bi bi-play-circle"></i>
                      <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
                    </div>-->
                  </div>
                </div>

                <!-- <div class="swiper-pagination"></div> -->

                    <!-- <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
                    </a>
              
                    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
                    </a>
              
                    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol> -->
              </div>
              <!-- <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div> -->

      
            </div>

        </div>
      </section>
      <!-- End Leadership Section -->
  
    
  </main><!-- End #main -->
{% endblock %}