{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/products/products.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Our Products</h2>
            <p class="animate__animated animate__fadeInUp">These are our products.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->

    
<!-- ======= Products Section ======= -->
<main id="main">
  
  <section id="products" class="products">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="static/img/laptop .jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Laptop Cystoscope</a></h5>
              <p class="card-text">RSI produces the innovative Laptop Cystoscope that does away with the need for the 
                telescope along with monitor, light source and camera that are necessary for conventional cystoscopies. 
                Diagnostic cystoscopies are possible with the Laptop Cystoscope which could also be used for minor procedures.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-2.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">STAAN Laparoscopy Positioner</a></h5>
              <p class="card-text">This device makes Laparoscopic surgeries possible in remote and rural areas under the 
                easily available and less expensive spinal anesthesia.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section id="products" class="products">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-1.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">RAIS Device</a></h5>
              <p class="card-text">This makes the Gasless Laparoscopic surgical device portable and autoclavable in standard autoclaves.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-2.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">The Adaptor For RAIS Device</a></h5>
              <p class="card-text">This helps to use several types of ring retractors and other retractors with RAIS device for both open and laparoscopic surgeries.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section id="products" class="products">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/events-1.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Modified Hand Instruments</a></h5>
              <p class="card-text">These hand instruments are modified for use with Gasless laparoscopic surgeries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main><!-- End #main -->

{% endblock %}