{% extends "layout.html" %}

{% block title %}
    Products
{% endblock %}


{% block main %}
<main id="main">
    <!-- ======= Big Picture Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative">
            <h1>Our Products </h1>
    </div>
    </section><!-- End Big Picture -->

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="static/img/laptop .jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Laptop Cystoscope</a></h5>
                <p class="card-text">RSI produces the innovative Laptop Cystoscope that does away with the need for the 
                  telescope along with monitor, light source and camera that are necessary for conventional cystoscopies. 
                  Diagnostic cystoscopies are possible with the Laptop Cystoscope which could also be used for minor procedures.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">STAAN Laparoscopy Positioner</a></h5>
                <p class="card-text">This device makes Laparoscopic surgeries possible in remote and rural areas under the 
                  easily available and less expensive spinal anesthesia.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">RAIS Device</a></h5>
                <p class="card-text">This makes the Gasless Laparoscopic surgical device portable and autoclavable in standard autoclaves.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">The Adaptor For RAIS Device</a></h5>
                <p class="card-text">This helps to use several types of ring retractors and other retractors with RAIS device for both open and laparoscopic surgeries.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Modified Hand Instruments</a></h5>
                <p class="card-text">These hand instruments are modified for use with Gasless laparoscopic surgeries.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


</main><!-- End #main -->

{% endblock %}