{% extends "layout.html" %}

{% block title %}
    Renal Stone Removal
{% endblock %}


{% block main %}

<!-- ======= Big Picture Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <div class="carousel-item active" style="background-image: url(../static/img/products/products.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Our Products</h2>
              <p class="animate__animated animate__fadeInUp">These are our products.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <!-- End Big Picture Section -->


  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container fade-up">

      <div class="section-title">
        <h2>Renal Stones</h2>
        <p>Renal (kidney) stones are common even in remote rural areas and can cause significant morbidity and mortality. The currently available options for treatment are difficult in rural areas, so less than 2% of patients in rural areas have access.</p>
      </div>

      <div class="row gy-4">

        <!-- <div class="col-lg-11"> -->
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <!-- <div class="col-lg-8 details order-2 order-lg-1"> -->
                <div class="details order-2 order-lg-1 align-items-stretch">
                  <h3>Renal Stone Removal</h3>
                  <p class="fst-italic">RSI has developed a low-cost technique of removing kidney stones through the natural urinary passage.</p>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="section-title">
                <p>Open surgeries are difficult as they require general anesthesia, special expertise and use large incisions. Minimally invasive techniques like PCNL or removal through a small hole require expensive X-ray machines and other equipment in addition to the expertise. The non-invasive method called ESWL requires very expensive equipment of which only a few are available in each country. </p>
                <p>With RSI's technique, a tube called a DJ stent is placed between the kidney and the urinary bladder and is inserted through the urinary passage. This makes the passage large enough to pass special equipment (normally used for breaking lower ureteric stones) all the way to the kidney through the urinary passage and then break the stones using a lithoclast. Once the patients pass all the broken fragments the DJ stent is removed. Although the method requires a minimum of three sittings, all the procedures are through the urinary passage and since there is no cutting involved, recovery is quick.</p>
                <p>RSI, through its innovative proctorship program has treated more than 5000 patients with kidney stones in rural and remote areas and have trained many rural surgeons to perform part of, or the entire procedure at rural hospitals. These are possible under spinal anesthesia which is safe, low-cost and easily available in rural areas.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

{% endblock %}