{% extends "layout.html" %}

{% block title %}
    Research
{% endblock %}


{% block main %}
<!-- ======= Big Picture Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(static/img/research/research.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Our Research</h2>
            <p class="animate__animated animate__fadeInUp">Current projects that we are developing</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Big Picture Section -->


<main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
              <div class="icon-box mt-5 mt-lg-0">
                <i class="bi bi-laptop"></i>
                <h4>Laptop Cystoscope</h4>
                <p>The laptop cystoscope is a simplified cystoscope that is self-contained, and only requires the use of a laptop 
                  with a USB port to operate, compared to more advanced versions that require additional specialised equipment that 
                  may be difficult to transport and provide power for in rural settings.</p>
                <!-- <p>RSI won the BIRAC-BIG award from the Indian Government for working on the Laptop Cystoscope with SINE-IIT Bombay. Surveys show that even in remote areas, about 5% of outpatients have Urology problems. More than half of them could be managed with just a Cystoscope that is used for diagnosis and for minor first stage procedures. However, at present, less than 2% of the Urology patients can get the necessary treatment in rural areas because non – Urologists are unable to afford the conventional Cystoscope and the accessory equipment like the camera, light source and others that are necessary for Cystoscopy.</p>
                <p>The Laptop Cystoscope costs about one twentieth of the conventional Cystoscopy setup as it can be connected to the Laptop to perform diagnostic and other procedures. Controlled trials are going on at Medical Colleges and rural hospitals for validation.</p> -->
                <div class="read-more"><a href="/research/laptop_cystoscope"> Learn More</a></div>
              </div>
              <div class="icon-box mt-5">
                <i class="bi bi-journal-medical"></i>
                <h4>Gas Insufflation Less Laparoscopic Surgeries</h4>
                <p>RSI is also involved with promoting Gas Insufflation Less Laparoscopic Surgeries [GILLS] along with IFRS and others. 
                  GILLS makes laparoscopic surgery possible in rural areas under the less expensive and easily available spinal anesthesia. 
                  RSI is currently working on the hand instruments and low-cost camera for GILLS.</p>
                <div class="read-more"><a href="/research/GILLS"> Learn More</a></div>
              </div>
              <div class="icon-box mt-5">
                <i class="bi bi-clipboard-plus"></i>
                <h4>Removal of Renal Stones Through Normal Urinary Passage</h4>
                <p>This technique uses available instruments to remove kidney stones through the normal urinary passage.</p>
                <div class="read-more"><a href="/research/renal_stone_URS"> Learn More</a></div>
              </div>        
            </div>
            <!-- <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("static/img/research/departments-5.jpg");' data-aos="zoom-in"></div> -->
            <div class="image col-lg-6 order-lg-2" style='background-image: url("static/img/research/projects.jpg")'>
          </div>
  
        </div>
    </section><!-- End Features Section -->

</main>
{% endblock %}