{% extends "layout.html" %}

{% block title %}
    confirmation
{% endblock %}


{% block main %}
      <!-- ======= Big Picture Section ======= -->
      <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    
          <div class="carousel-inner" role="listbox">
    
            <div class="carousel-item active" style="background-image: url(static/img/confirmation.jpg)">
              <div class="carousel-container">
                <div class="container">
                  <h2 class="animate__animated animate__fadeInDown">Message Sent</h2>
                  <p class="animate__animated animate__fadeInUp">Message received. We will be in touch!</p>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
      </section>
  <!-- End Big Picture Section -->
{% endblock %}