{% extends "layout.html" %}

{% block title %}
    Services
{% endblock %}


{% block main %}
<main id="main">
    <!-- ======= Big Picture Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative">
            <h1>Services We Provide </h1>
    </div>
    </section><!-- End Big Picture -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
  
        <div class="row gy-4">
  
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">The Surgical Camps</a></h4>
              <p class="description">RSI offers surgical camps in rural and remote areas to help the rural hospitals based on 
                invitations for conducting such surgical camps for innovative Gasless laparoscopic and endoscopic Urology services.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Diagnostic Camps</a></h4>
                <p class="description">RSI offers diagnostic camps in rural and remote areas through nearby hospitals that can 
                  offer surgical care to diagnose surgical conditions in rural and remote areas.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="box">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title"><a href="">Online and Onsite Training Programs</a></h4>
                <p class="description">RSI offers Online and Onsite training programs in Rural Urology Practice and Gas 
                  Insufflation Less Laparoscopic Surgeries [GILLS] along with International Federation of Rural Surgeons [IFRS] 
                  and Association of Rural Surgeons of India [ARSI] and Martin Luther University.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Consultancy Services for Medical Devices</a></h4>
                <p class="description">RSI offers consultancy services for refurbishing surgical equipment and maintenance of the surgical equipment.</p>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                <h4 class="title"><a href="">Consultancy Services for Medical Devices</a></h4>
                <p class="description">RSI offers help with Human resource and equipment sharing program where rural surgeons 
                contribute and get equipment that they share along with the human resource that is necessary for using the equipment</p>
              </div>
            </div>

        </div>
  
      </div>
    </section><!-- End Services Section -->
  

</main>
{% endblock %}