{% extends "layout.html" %}

{% block title %}
    Test Form
{% endblock %}


{% block main %}
    <div>
        <form action="/test_form" method="post">
            <div>
                <div>{{ form.name.label }}: {{ form.name(placeholder="Your Name") }}</div>
                <div>{{ form.email.label }}: {{ form.email(placeholder="Your email address") }}</div>
            </div>
            <div>{{ form.subject.label }}: {{ form.subject(placeholder="Subject") }}</div>
            <div>{{ form.message.label }}: {{ form.message(placeholder="Your message to us") }}</div>
            <div>{{ form.send_message() }}</div>
        </form>
    </div>
{% endblock %}